[Unit]
Description=Turnkey Wifi Manager for hotspot
After=network.target wpa_supplicant.service dhcpcd.service wifi_connector.service
Wants=wpa_supplicant.service dhcpcd.service

[Service]
Type=simple
Environment=VIRTUAL_ENV=/home/dev/venv
Environment=PATH=/home/dev/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:$PATH
ExecStart=/bin/bash -c 'source /home/dev/venv/bin/activate && python3 /home/dev/src/firmware/turnkey/main.py'
WorkingDirectory=/home/dev/src/firmware/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target